@charset "utf-8"

;body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #333;
  color: azure;
}

*,*::before, *::after {
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 80px;
}

@keyframes titleAnimation {
  0%{
    letter-spacing: .3em;
    opacity: 0;
  }
}

header a {
  color:sandybrown;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 60px;
  white-space: nowrap;
  animation: titleAnimation 1.5s;
  text-decoration: none;
}

hr{
    margin-bottom: 80px;
    border-top:1px solid #111;
    border-bottom:1.5px solid #777;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

h2 {
  font-size: 60px;
  letter-spacing: 2px;
  margin: 10px;
  animation: titleAnimation 3s;
}

img {
  margin: 0 auto;
  width: 100%;
  display: block;
  border-radius: 5px;
  opacity: 1;
  animation: titleAnimation 5s;
  box-shadow: 10px 13px sandybrown;
}

.profileContents {
  font-size: 20px;
  line-height: 27px;
  margin-top: 30px;
  animation: titleAnimation 4s;
  transition: 1.5s .2s;
}

h3 {
  margin-top: 250px;
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 2px;
  animation: titleAnimation 5s;
}

.aboutContents {
  font-size: 20px;
  line-height: 27px;
  margin-top: 30px;
  transition: 1.5s .2s;
}

.aboutContents p {
  line-height: 40px;
  margin-bottom: 50px;
}

.aboutContents a {
  color: azure;
  text-decoration: none;
}


@media screen and (max-width:650px) {
  main {
    margin: 20px auto;
  }

  hr{
    margin-bottom: 20px;
  }
  
  header {
    padding: 20px;
  }

  header a {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .profileContents {
    font-size: 10px;
    line-height: 17px;
    margin-top: 20px;
  }

  h3 {
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 2px;
    animation: titleAnimation 5s;
  }

  .aboutContents {
    margin-bottom: 30px;
  }

  .aboutContents p {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}